.weekCard {
  width: 100%;

  aspect-ratio: 1/1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 5px;

  border: 1px solid var(--light-gray);
  border-radius: 5px;
  box-shadow: 0 0 4px var(--light-gray);

  .weekDay {
    width: 100%;
    height: fit-content;

    text-align: center;
    font-size: var(--sm-mobile-font);
    font-weight: 600;
  }

  .illustration {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    p {
      font-size: var(--usm-mobile-font);
      text-align: center;
    }
  }

  .minMax {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: space-around;

    color: var(--gray);
    font-size: var(--usm-mobile-font);

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  }
}
