* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --blue: #31a8ff;
  --white: #fafafa;
  --black: #000000;
  --gray: #5f5f5f;
  --light-gray: #c4c4c4;

  --lg-mobile-font: 22px;
  --sm-mobile-font: 14px;

  --breakpoint: 600px;

  font-family: "inter", sans-serif;
}
