* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --blue: #31a8ff;
  --white: #fafafa;
  --black: #000000;
  --gray: #5f5f5f;
  --light-gray: #c4c4c4;

  --xlg-mobile-font: 26px;
  --lg-mobile-font: 18px;
  --sm-mobile-font: 14px;
  --usm-mobile-font: 12px;

  --desktop: 650px;

  font-family: "inter", sans-serif;
}
