.mainCard {
  width: 100%;
  max-width: 450px;
  min-height: 200px;
  height: fit-content;

  display: grid;
  grid-template-columns: fit-content 1fr;
  grid-template-rows: fit-content fit-content fit-content;

  box-shadow: 0 0 4px var(--light-gray);

  border: 1px solid var(--light-gray);
  border-radius: 5px;

  padding: 5px 10px;

  * {
    align-self: center;
  }

  .illustration {
    grid-column: 1/2;
    grid-row: 1/2;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .metaData {
    grid-column: 2/3;
    grid-row: 1/2;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    text-align: center;

    h1 {
      font-size: var(--lg-mobile-font);
      font-weight: 600;
    }
    p {
      font-size: var(--sm-mobile-font);
      font-weight: 600;
    }
    p + p {
      color: var(--gray);
    }
  }

  .status {
    grid-column: 1/3;
    grid-row: 2/3;

    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: var(--sm-mobile-font);
    font-weight: 600;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
    }
  }
  .riseAndSet {
    grid-column: 1/3;
    grid-row: 3/4;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: var(--sm-mobile-font);
    font-weight: 600;
    text-align: center;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 3px;
    }
  }
}

@media (min-width: 650px) {
  .mainCard {
    max-width: 900px;

    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: fit-content fit-content fit-content;

    .illustration {
      grid-column: 1/2;
      grid-row: 1/4;
    }

    .metaData {
      grid-column: 2/3;
      grid-row: 1/3;

      width: 98%;
      height: 98%;

      display: grid;
      grid-template-columns: 3fr 2fr;
      grid-template-rows: 1fr 1fr;

      justify-self: center;
      align-self: flex-start;

      * {
        justify-self: flex-start;
        align-self: center;
      }

      h1 {
        grid-column: 1/2;
        grid-row: 1/2;

        font-size: var(--xlg-mobile-font);
      }
      p {
        grid-column: 2/3;
        grid-row: 1/2;

        font-size: var(--sm-mobile-font);
      }
      p + p {
        grid-column: 1/3;
        grid-row: 2/3;
      }
    }

    .status {
      grid-column: 3/4;
      grid-row: 1/4;

      width: fit-content;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      * {
        align-self: flex-start;
        justify-self: center;
      }
    }

    .riseAndSet {
      grid-column: 2/3;
      grid-row: 3/4;

      width: 100%;
      height: 100%;
    }
  }
}
